* {
  box-sizing: border-box; 
}

body{
  --background-color: rgb(31 41 55);
  --main-font-color: rgb(229 232 228);
  --main-font-family: "Maven Pro", sans-serif;
  background-color: var(--background-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  margin: 0; /* pour que le body soit collé contre l'écran */
}
header{
  padding: 5px 12px;
  font-weight: bold;
}

#navbar{
  display: fixed;
  width: 230px;
  height: 100vw; /* pour que le height soit sur tout le viewport */
  border-right: solid black 2px; 
  
} 

ul li {
  list-style: none;
  padding: 10px 5px;
}

#main-doc {
  position: absolute;
  left: 250px;
  top: 0;
  width: 75%;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

.black-box {
  background-color: black;
  margin: 5px;
  height: 45px;
  padding: 5px 10px;
  border-radius: 15px;
}
article p{
  padding: 10px;
}

@media screen and (max-width: 725px) {
  #navbar{
    position: relative;
    width: 100%;
    text-align: center;
    max-height: 110px; 
  }
  #main-doc{
    position: absolute;
    top: 230px;
    left: 30px;
  }
  .black-box{
    height: 60px;
  }
}
