:root{
  --thin-line: solid black 2px;
  --background-color: rgb(31 41 55);
  --main-font-color: rgb(229 232 228);
  --main-font-family: "Maven Pro", sans-serif;
  --box-color: black;
}
* {
  box-sizing: border-box; 
}

body{
  
  background-color: var(--background-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
  margin: 0; /* pour que le body soit collé contre l'écran */
}
header{
  padding: 5px 12px;
  font-weight: bold;
  text-align: center;
}

#navbar{
  top: 0;
  left: 0;
  position: fixed;
  width: 230px;
  height: 100vw; /* pour que le height soit sur tout le viewport */
  border-right: var(--thin-line); 
  
  
} 

ul li {
  list-style: none;
  padding: 10px 5px;
}

#main-doc {
 
  padding-left: 240px;

}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

.black-box {
  background-color: var(--box-color);
  margin: 5px;
  height: 45px;
  padding: 5px 10px;
  border-radius: 15px;
}
article p{
  padding: 10px;
}

footer{
  padding-left: 210px;
   
}

footer > p {
    
}


@media screen and (max-width: 725px) {
  #navbar{
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    max-height: 250px;
    text-align: center;
    
    border-bottom: var(--thin-line);
  }
  #main-doc{
    padding-top: 280px;
    padding-left: 10px;
  }
  .black-box{
    height: 60px;
  }
  footer {
    padding: 20px;
  }
}

